  <div class='col-12 row d-flex '>

        <a href="<%= root_path%>" class="m-auto" >
          <%= image_tag("logo/logo-300x200.png", alt: "segura and company logo", class:"", id: "top-logo"
        )%>
          <%# image_tag("logo/logo-300x200.png", alt: "segura and company logo", class:"", id: "top-logo-mobile"
        )%>

        </a>    
      </div> 

<h2 class="mt-4">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions",style:"color: gainsboro;
  font-size: larger;" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
